<ion-header>
  <ion-toolbar>
    <ion-title>reminders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-button  expand="block" shape="round" (click)="newEvent()">Recordatorio durante el año</ion-button>
  </section>
  <section>
    <ion-button expand="block" shape="round" (click)="betwenWeek()">Recordatorio entre semana</ion-button>
  </section>
  <section>
    <ion-button expand="block" shape="round" (click)="forToday()">Recordatorio para hoy</ion-button>
  </section>
  
</ion-content>
