<ion-header>
  <ion-toolbar>
    <ion-title>betwen-week</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Hola soy entre semana</p>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre de Evento</ion-label>
      <ion-input [(ngModel)]="eventName"></ion-input>

      <ion-label position="floating">Mensaje</ion-label>
      <ion-input [(ngModel)]="eventMessage"></ion-input>

      <ion-label>Dia entre semana:</ion-label>
    <ion-select multiple="false" cancelText="Nah" okText="Okay!" [(ngModel)]="eventDay" >
      
      <ion-select-option value="1">Lunes</ion-select-option>
      <ion-select-option value="2">Martes</ion-select-option>
      <ion-select-option value="3">Miercoles</ion-select-option>
      <ion-select-option value="4">Jueves</ion-select-option>
      <ion-select-option value="5">Viernes</ion-select-option>
      <ion-select-option value="6">Sabado</ion-select-option>
      <ion-select-option value="7">Domingo</ion-select-option>

    </ion-select>

      <ion-label position="floating">Hora</ion-label>
      <ion-input>
        <ion-datetime displayFormat="h:mm a" [(ngModel)]="eventHour"></ion-datetime>
      </ion-input>
      
    </ion-item>

    <ion-button expand="block" (click)="addEvent()">Crear Recordatorio</ion-button>
  </ion-list>

  <ion-item>
    <ion-button (click)="alerta()"> alert</ion-button>
  </ion-item>
  

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
